* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

body, html
{
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
}

#dragbar{
    width: 100%;
    height: 100%;
    background-color: transparent;
    grid-row: 3 / span 1;
    grid-column: 1 / span 5;
    cursor: move;
}


#container{
    background-color: ghostwhite;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: inline-grid;
    grid-template-columns: minmax(36px, 3.5%) 46% 1% 46% minmax(36px, 3.5%);
    grid-template-rows: 8% 41% 1% 41% 9%;
    box-sizing: border-box;
}

/*#highest{*/
/*    width: 100%;*/
/*    grid-column: 1 / span 1;*/
/*    grid-row: 1 / span 1;*/
/*    text-align: center;*/
/*}*/

.upperGrid{
    width: 100%;
    background-color: #2c90ff;
    border-radius: 10px;
    text-align: center;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 16px 32px 10px auto 20px;
}

#lowerLeft, #lowerRight{
    width: 100%;
    background-color: #dcefff;
    border-radius: 10px;
    text-align: center;
}



#upperLeft{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#upperRight{
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

#lowerLeft{
     grid-column: 2 / span 1;
     grid-row: 4 / span 1;
 }

#lowerRight{
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
}


#imageControlContainer{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
    grid-gap: 4px;
    box-sizing: border-box;
}

#maximizeButtonContainer, #minimizeButtonContainer, #viewPortButtonContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 4px 0 4px;

}

#maximizeButtonContainer {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#minimizeButtonContainer {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

#viewPortButtonContainer{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

#minimizeButton, #maximizeButton, #viewPortButton{

    font-weight: bolder;
    font-size: 20px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;
}

#viewsvg{
    height: 1.3em;
    width: 1.3em;
    margin: 0;
    padding: 0;
}

#translateButtonContainer, #resetButtonContainer{
    display: flex;
    color: white;
    background-color: grey;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 1% 0 1% 0;

}

#translateButtonContainer{
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

#resetButtonContainer{
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
    text-align: center;
}

#translateButton, #resetButton{
    outline: none;
}


#picterpretLogoContainer{
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    width: 100%;
    height: 100%;
    display: table;
}

#picterpretLogo{
    color: black;
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.currentLanguage{
    height: 100%;
    width: fit-content;
    text-align: center;
    margin: 3px;
    font-weight: bold;
    font-size: 16px;
}

#switchLanguageButton{
    vertical-align: middle;
    background-color: lavenderblush;
    border: 2px transparent solid;
    border-radius: 4px;
    text-align: center;
    float: right;
    display: flex;
}

#switchLanguageButton:hover{
    cursor: pointer;
    border: 2px transparent solid;
    border-radius: 4px;
}


#switchLanguage{
    height: 100%;
    width: fit-content;
    text-align: center;
    margin: 3px;
    font-weight: bold;
    float: right;
    font-size: 16px;
}

#switchsvg{
    height: 1.2em;
    width: 1.2em;
    margin: 3px;
    float: left;
}

.languageWrapper{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 auto;

    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.languageSelectorButton{

    display: table-cell;
    vertical-align: middle;
    background-color: lavenderblush;
    border: 2px transparent solid;
    border-radius: 4px;
    text-align: center;
}

.languageSelectorButton:hover{
    cursor: pointer;
    border: 2px transparent solid;
    border-radius: 4px;
    /*background-color: black;*/
    /*color: ghostwhite;*/
}

.menuItemContainer{
    height: 100%;
    display: table;
    background-color: transparent;
    border: 2px transparent solid;
    border-radius: 4px;
}

.menuItem{
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;

}

.menuItem:hover{
    cursor: pointer;
    background-color: ghostwhite;
    border: 0px transparent solid;
    border-radius: 5px;
}

.TextBoxContainerFlex{
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    visibility: visible;
    overflow: auto;
    /*transition: opacity 2s;*/
    /*-webkit-transition: opacity 2s;*/

    opacity: 1;
}

.TextBoxContainerFlexTransition{
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    visibility: hidden;

    /*transition: opacity 2s;*/
    /*-webkit-transition: opacity 2s;*/

    opacity: 1;
}

.languageSelector{
    width: 90%;
    height: 100%;
    display: inline-grid;
    margin: 0 auto;
    grid-template-columns: 100%;
    /*grid-template-rows: repeat(22, 8%);*/
    grid-auto-rows: 14%;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    visibility: hidden;
    overflow: auto;

    /*transition: opacity 2s;*/
    /*-webkit-transition: opacity 2s;*/

    opacity: 0;
}

.languageSelectorTransition{
    width: 90%;
    height: 100%;
    display: inline-grid;
    margin: 0 auto;
    grid-template-columns: 100%;
    /*grid-template-rows: repeat(22, 8%);*/
    grid-auto-rows: 14%;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    visibility: visible;
    overflow: auto;


    /*transition: opacity 2s;*/
    /*-webkit-transition: opacity 2s;*/

    opacity: 1;
}


.fill-Width{
    flex: 1;
    resize: none;
    font-size: 28px;
    border: none;
    border-radius: 5px;
}

.fill-Width:focus{
    outline: transparent;
}

.ImageBoxContainer{
    max-height: 100%;
    max-width: 100%;
    padding: 23px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.ImageBoxContainerFlex{

    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: 0;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 50%;
    /*grid-gap: 2%;*/
    overflow: auto;
    /*visibility: visible;*/


    opacity: 1;
}

.ImageBoxContainerFlexTransition{
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.ImageBoxSelectionContainerFlex{
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.ImageBoxSelectionContainerFlexTransition{
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: 0;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 50%;
    /*grid-gap: 2%;*/
    overflow: auto;
    visibility: visible;
}

.divContainer{
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-rows: 84% 15%;
    grid-gap: 5px;
    border: 4px transparent solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.divContainerSelection{
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 4px transparent solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.divContainer:focus-within{
    border: 4px black solid;
    border-radius: 2px;
    outline: none;
}

.divImgContainer{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: white;
    width: inherit;
    height: 100%;
    margin-right: 0px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}


.divTextContainer {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: #f9f9ff;
    padding-top: 2px;
    border-radius: 5px;
}

.boxImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 99;
}